<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='RobotoFont/Roboto-Light.ttf' rel='stylesheet' type='text/css'>
    <title>Homepage</title>

    <style type="text/css">
        @font-face {
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: 300;
            src: local('RobotoFont/Roboto Condensed Light'), local('RobotoFont/RobotoCondensed-Light'), url("RobotoFont/RobotoCondensed-Light.ttf") format('truetype');
        }
    </style>
</head>
<body>

<div id="header">
    <img id="logo" src="./resources/logo.jpg"/>
    <ul>
        <li>More Info</li>
        <li>About us</li>
        <li>Help</li>
    </ul>
    <form method="get" action="/login">
        <input id="signUpButton" type="submit" value="login"/>
    </form>
    <form method="get" action="/signup">
        <input id="loginButton" type="submit" value="signUp"/>
    </form>
</div>


</body>
</html>