<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="loginSignUp.css">
    <title>Log In</title>
    <style type="text/css">
        @font-face {
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: 300;
            src: local('RobotoFont/Roboto Condensed Light'), local('RobotoFont/RobotoCondensed-Light'), url("RobotoFont/RobotoCondensed-Light.ttf") format('truetype');
        }
    </style>
</head>
<body>

<div class="loginSignUp">
    <form id="login" method="get" action="/">
        <input type="text" id="loginUserName" name="userName" placeholder="username">
        <br/>
        <input type="password" id="loginPassword" name="password" placeholder="password">
        <br/>
        <input id="loginSubmit" type="submit" value="login">
    </form>
    <p>Dont have an account yet ? SignUp now</p>
</div>

</body>
</html>