body{
    background-color: #F5F5F5;
    font-family: "Roboto Condensed";
}

.loginSignUp{
    background-color: #607D8B;
    margin: auto;
    padding:10px;
    width: 200px;
    text-align: center;
    border-radius: 3px;
    border-bottom: solid 4px #455A64;
    box-shadow: 0 5px 10px rgba(10, 10, 10, 0.3);
}

.loginSignUp input{
    font-family: "Roboto Condensed";
    margin: 7px;
    border:none;
    border-bottom: solid 3px #B0BEC5;
    padding:5px;

}

.loginSignUp input:focus{
    outline: none;
}

p{
    font-size: 10px;
}

#loginSubmit{
    /*border-radius: 5px 5px 0 0;*/
    font-size:15px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #FF5722;
    border-bottom: solid 3px #BF360C;
}

#loginSubmit:active{
    outline: none;
    margin-top:10px;
    font-size:15px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #FF5722;
    border-bottom: none;
}

#loginSubmit:focus{
    outline: none;
}



#signUpSubmit{
    /*border-radius: 5px 5px 0 0;*/
    font-size:15px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #FF5722;
    border-bottom: solid 3px #BF360C;
}

#signUpSubmit:active{
    outline: none;
    margin-top:10px;
    font-size:15px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #FF5722;
    border-bottom: none;
}

#signUpSubmit:focus{
    outline: none;
}