<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="loginSignUp.css">
    <script src="js/loginSignUp.js"></script>
    <title>Sign Up</title>
    <style type="text/css">
        @font-face {
            font-family: "Roboto Condensed";
            font-style: normal;
            font-weight: 300;
            src: local('RobotoFont/Roboto Condensed Light'), local('RobotoFont/RobotoCondensed-Light'), url("RobotoFont/RobotoCondensed-Light.ttf") format('truetype');
        }
    </style>
</head>
<body>
<div class="loginSignUp" >
    <form id="signUp">
        <input type="text" id="signUpFirstName" name="firstName" placeholder="first Name">
        <br/>
        <input type="text" id="signUpLastName" name="lastName" placeholder="last Name">
        <br/>
        <input type="text" id="signUpUserName" name="userName" placeholder="user Name">
        <br/>
        <input type="email" id="signUpEmail"name="email" placeholder="email">
        <br/>
        <input type="password" id="signUpPassword" name="password" placeholder="password">
        <br/>
        <input type="password" id="signUp2ndPassword" name="password" placeholder="password">
        <br/>
        <input id="signUpSubmit" type="button" value="signUp">
    </form>
    <p>Already have an account yet ? login now</p>
</div>
</body>
</html>