<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="import"
          href="../bower_components/font-roboto/roboto.html">
    <link rel="import"
          href="../bower_components/core-header-panel/core-header-panel.html">
    <link rel="import"
          href="../bower_components/core-toolbar/core-toolbar.html">
    <link rel="import"
          href="../bower_components/paper-tabs/paper-tabs.html">
    <link rel="import"
          href="../bower_components/core-icon-button/core-icon-button.html">
    <link rel="import"
          href="../bower_components/core-overlay/core-overlay.html">
    <link rel="import"
          href="metric-list.html">
    <link rel="import"
          href="statistic-list.html">
    <link rel="import"
          href="global-list.html">
    <link rel="import"
          href="side-list.html">
    <link rel="import"
          href="../bower_components/core-dropdown-menu/core-dropdown-menu.html">
    <link rel="import"
          href="../bower_components/core-input/core-input.html">
    <link rel="import"
          href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
    <link rel="import"
          href="../bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import"
          href="../bower_components/paper-item/paper-item.html">
    <link rel="import"
          href="../bower_components/core-ajax/core-ajax.html">
    <link rel="import"
          href="../bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import"
          href="../bower_components/paper-toast/paper-toast.html">
    <link rel="import"
          href="password-card.html">
    <link rel="import"
          href="user-card.html">
    <link rel="import"
          href="./service/global-service.html">




    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="../bower_components/jquery-1.11.1.min.js"></script>

    <style>
        html,body {
            height: 100%;
            margin: 0;
            /*background: url("../resources/pixelchristmasred.png");*/
            background: #efefef;
            background-size: 50%;
            font-family: 'RobotoDraft', sans-serif;
        }
        #main{
            overflow-y: scroll;
            overflow-x: hidden;
        }

        metric-list{
            margin: auto;
        }

        core-header-panel {
            height: 70px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        core-toolbar{
            background: #da4336;
            color: white;
        }
        #tabs {
            width: 100%;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-transform: uppercase;
        }
        core-icon-button{
            background: #E5E5E5;
            border: solid 1px #d0d0d0;
            margin:19px;
            border-radius: 50%;
        }
        core-icon-button:hover{
            border: none;
            margin:20px;
            border-radius: 50%;
        }
        core-dropdown {
            position: absolute;
            top: 38px;
            left: 0;
        }
        paper-dropdown-menu{
            padding: 5px;
            background: #E5E5E5;
            width:150px;
        }
        #sidebar{
            background: #F5F5F5;
        }
        core-overlay{
            width: 500px;
        }
        paper-toast {
            bottom: 40px;
            left: 10px;
        }
        #logo {
            width: 55px;
        }
    </style>


</head>

<body unresolved>
<div id="stats">
    <global-service id="Statistics" posts="{{posts}}"></global-service>
</div>

<core-drawer-panel responsiveWidth="10000000px" drawerWidth="300px">

    <div id="sidebar" drawer>
        <core-header-panel>
            <core-toolbar>
            </core-toolbar>
        </core-header-panel>
        <side-list id="listSide"></side-list>
    </div>

    <div id="main" main>
        <core-header-panel>
            <core-toolbar>
                <img id="logo" src="../resources/logo6.png"/>
                <paper-tabs id="tabs" selected="home" noink="true" self-end>
                    <paper-tab id="home" name="home">Home</paper-tab>
                    <paper-tab name="start" id="user_name">User</paper-tab>
                </paper-tabs>
            </core-toolbar>
        </core-header-panel>

        <core-overlay id="signUp" backdrop="true" autoCloseDisabled="true">
            <div id="frontForm">
                <user-card></user-card>
            </div>
            <div id="backForm"  style="display: none">
                <password-card></password-card>
            </div>
        </core-overlay>

        <!--Messages to the user-->
        <paper-toast id="sidebar_ok" role="alert" text="All data upload is ready!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="side-card_message_204" role="alert" text="Collection successful deleted!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="user-card_message_204" role="alert" text="Your profile is changed!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="user-card_message_400" role="alert" text="Bad request!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="user-card_1" role="alert" text="The new email is not valid!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_message_204" role="alert" text="Password changed!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_message_400" role="alert" text="The current password is wrong!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_1" role="alert" text="Please, insert the current password!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_2" role="alert" text="The new password is empty!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_3" role="alert" text="Please, repeat the new password!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_4" role="alert" text="The repeat password is not the same as new password!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <paper-toast id="password-card_length" role="alert" text="The new password should have at least 6 characters!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
            <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
        </paper-toast>
        <!--Messages to the user-->

        <div id="container" layout vertical center>

            <div layout horizontal center>
                <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
                <core-icon-button id="add" icon="add"></core-icon-button>
            </div>

            <form id="form" style="display: none;" method="post" enctype="multipart/form-data" action="/files">
                <input  id="uploaded" type="file" name="uploaded" title="upload" multiple>
                <input id="submit" type="submit">
            </form>

            <div id="list">
                <global-list tipo='ALL'></global-list>
            </div>



        </div>
    </div>
</core-drawer-panel>

<script>

    tabs.addEventListener('core-select', function() {
        if(tabs.selected == 'back'){
            window.location.href = '/starter/index.html';
        }
        else if(tabs.selected == 'start'){
            document.getElementById('signUp').opened = true;
        }
    });

    home.addEventListener('click', function(){
        if(document.querySelector('#listSide').posts.length > 0) {
            document.getElementById('list').innerHTML = "<global-list tipo='ALL'></global-list>"
        }
    });


    $('#add').click(function() {
        $('#uploaded').trigger('click');
    });

//    $('#uploaded').on('change', function(){
//        $('#submit').trigger('click');
//    });

    $(':file').change(function(){

        var file = this.files[0];
        var name = file.name;
        var size = file.size;
        var type = file.type;

        var formData = new FormData($('form')[0]);

        $.ajax({
            url: '/files',  //Server script to process data
            type: 'POST',
            xhr: function() {  // Custom XMLHttpRequest
                var myXhr = $.ajaxSettings.xhr();
//                if(myXhr.upload){ // Check if upload property exists
//                    myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
//                }
                return myXhr;
            },
            //Ajax events
//            beforeSend: beforeSendHandler,
            success: function(result){
                if(localStorage['stack'] == '') {
                    localStorage['stack'] = result.id;
                } else {
                    localStorage['stack'] += "," + result.id;
                }
            },
//            error: errorHandler,
            // Form data
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        });
    });


    function getCollection(id){
        if(!id){
            return false;
        }
        var url= '/models/'+id;

        $.ajax({
            url: url,
            type: 'GET',
            async: false,
            accepts: 'application/json',
            success: function(result){
                if(!result.collectionID){
                    return false;
                }
                else{
                    console.log(result);
                    document.getElementById('sidebar').innerHTML = "<side-list></side-list>";
                    document.querySelector('#sidebar_ok').show();
                    return true;
                }
            },
            error: function (xhr, status) {
                return false;
            }
        });
    }

    function polling() {
        var toSplit = localStorage['stack'];
        if (toSplit != '') {
            var ids = toSplit.split(',');
            var tmp = '';
            for (var id in ids) {

                var collIDReturn = getCollection(ids[id]);


                if (collIDReturn == false) {

                    if (tmp == '') {
                        tmp = ids[id];
                    } else {
                        tmp += "," + ids[id];
                    }

                }
            }

            localStorage['stack'] = tmp;

        }
    }

    var refreshIntervalId = setInterval(function(){polling()}, 5000);

    function onCreate() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/user', true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == 200) {
                    this.user = JSON.parse(xhr.responseText);
                    document.getElementById("frontForm").innerHTML = '<user-card firstname="' + this.user.firstname + '" lastname="' + this.user.lastname + '" email="' + this.user.email + '"></user-card>';
                    document.getElementById("user_name").innerText = this.user.username;
                }
            }
        };
        xhr.send();
    }

    setInterval(function(){
        document.getElementById('stats').innerHTML ='<global-service id="Statistics" posts="{{posts}}"></global-service>'
        document.getElementById('stats').innerHTML ='<global-service id="Statistics" posts="{{posts}}"></global-service>'
    },12000)

    onCreate();

</script>


</body>