<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="./service/model-service.html">
<link rel="import" href="metric-card.html">
<script src="bower_components/chartjs/Chart.js"></script>


<polymer-element name="side-list" attributes="">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <model-service id='posts' posts="{{posts}}">
        </model-service>

        <div horizontal layout wrap>
            <template id="listM" repeat="{{post in posts}}">
                <h2>{{post._id}} hello</h2>
            </template>
        </div>

    </template>

    <script>
        Polymer('side-list', {
            tipoChanged: function(oldVal, newVal) {

                var a = this.shadowRoot.querySelectorAll('metric-card.metric-ALL');

                for(var n=0; n<a.length; n++){
                    var e = a[n];

                    e.style.display = 'none';
                }

                a = this.shadowRoot.querySelectorAll('metric-card.metric-' + newVal);

                for(var n=0; n<a.length; n++){
                    var e = a[n];

                    e.style.display = 'inline';
                }
            },
            fixString : function(string){
                var temp = string.match(/[A-Z][a-z]+/g);
                string = "";
                for(var i in temp){
                    string += temp[i] + " ";
                }
                return string;
            }
        });
    </script>
</polymer-element>
