<!doctype html>
<html>

<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="import"
          href="./bower_components/font-roboto/roboto.html">
    <link rel="import"
          href="./bower_components/core-header-panel/core-header-panel.html">
    <link rel="import"
          href="./bower_components/core-toolbar/core-toolbar.html">
    <link rel="import"
          href="./bower_components/paper-tabs/paper-tabs.html">
    <link rel="import"
          href="./bower_components/core-icon-button/core-icon-button.html">
    <link rel="import"
          href="./bower_components/core-overlay/core-overlay.html">
    <link rel="import"
          href="metric-list.html">
    <link rel="import"
          href="side-list.html">
    <link rel="import"
          href="./bower_components/core-dropdown-menu/core-dropdown-menu.html">
    <link rel="import"
          href="./bower_components/core-input/core-input.html">
    <link rel="import"
          href="./bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
    <link rel="import"
          href="./bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import"
          href="./bower_components/paper-item/paper-item.html">
    <link rel="import"
          href="./bower_components/core-ajax/core-ajax.html">
    <link rel="import"
          href="./bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import"
          href="../bower_components/paper-toast/paper-toast.html">
    <link rel="import"
          href="signup-card.html">
    <link rel="import"
          href="login-card.html">

    <style>
        html,body {
            height: 100%;
            margin: 0;
            background-color: #E5E5E5;
            font-family: 'RobotoDraft', sans-serif;
        }

        core-header-panel {
            height: 70px;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
        core-toolbar{
            background: #03a9f4;
            color: white;
        }
        #tabs {
            width: 100%;
            margin: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-transform: uppercase;
        }
        core-icon-button{
            border: solid 1px #d0d0d0;
            margin-top:49px;
            border-radius: 50%;
        }
        core-icon-button:hover{
            border: none;
            margin-top:50px;
            border-radius: 50%;
        }
        paper-toast {
            bottom: 40px;
            left: 10px;
        }
    </style>


</head>

<body unresolved>


<core-header-panel>
    <core-toolbar>
        <paper-tabs id="tabs" selected="model" noink="true" self-end>
            <paper-tab name="demo">Demo</paper-tab>
            <paper-tab name="model">Home</paper-tab>
            <paper-tab name="start">Log in / Sign up</paper-tab>
        </paper-tabs>
    </core-toolbar>
</core-header-panel>

<core-overlay id="signUp" backdrop="true" autoCloseDisabled="true">
    <div id="frontForm"  style="display: none">
        <signup-card></signup-card>
    </div>
    <div id="backForm">
        <login-card></login-card>
    </div>

</core-overlay>

<!--Messages to the user-->
<paper-toast id="signup-card_message_204" role="alert" text="New account created!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_message_400" role="alert" text="User name or email already used!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_1" role="alert" text="Please, insert your first name!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_2" role="alert" text="Please, insert your last name!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_3" role="alert" text="Please, insert your user name!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_4" role="alert" text="Please, insert your email!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_5" role="alert" text="The email is not valid!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_6" role="alert" text="Please, insert your password!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_7" role="alert" text="Please, repeat your password!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_8" role="alert" text="The repeat password is not the same as password!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="signup-card_length" role="alert" text="The password should have at least 6 characters!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<paper-toast id="login-card_message_401" role="alert" text="User name or password wrong!" touch-action="none" tabindex="-1" class="core-transition core-transition-bottom" style="position: fixed; outline: none; display: none;">
    <div style="color: #eeff41;" onclick="console.log('CLOSE')">CLOSE</div>
</paper-toast>
<!--Messages to the user-->


<script>
    var tabs = document.querySelector('paper-tabs');

    tabs.addEventListener('core-select', function() {
        if(tabs.selected == 'demo'){
            window.location.replace('/demo');
        }
        else if(tabs.selected == 'start') {
            document.getElementById('signUp').opened = true;
        }

    });
</script>

</body>