<!doctype html>
<html>

<head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="import"
          href="../bower_components/font-roboto/roboto.html">
    <link rel="import"
          href="../bower_components/paper-input/paper-input.html">
    <link rel="import"
          href="../bower_components/core-icon-button/core-icon-button.html">
    <link rel="import"
          href="login-card.html">

    <style>
        html,body {
            height: 100%;
            margin: 0;
            background-color: #E5E5E5;
            font-family: 'RobotoDraft', sans-serif;
        }
    </style>


</head>

<body unresolved>

<login-card></login-card>


<script>
</script>

</body>